<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="top_bar" class="topbar">
    <div class="w">
        <div class="topbar-right" th:if="${session.loginUser==null}">
            <form th:action="@{/login}" method="post" style="text-align: right">
                <input type="hidden" name="operate" value="login"/>
                <label style="color: #2a2a2a">Username: </label>
                <input class="itxt" type="text" placeholder="Please enter the username" autocomplete="off" tabindex="1"
                       name="uname" id="uname" value="David"/>
                <span th:text="${unameMsg}" style="color:red">uname error msg</span>&nbsp;&nbsp;
                <label style="color: #2a2a2a">Password: </label>
                <input class="itxt" type="password" placeholder="Please enter the password" autocomplete="off" tabindex="1"
                       name="pwd" id="pwd" value="david123"/>
                <span th:text="${pwdMsg}" style="color:red">pwd error msg</span>&nbsp;&nbsp;
                <input type="submit" value="Login" id="sub_btn"/>&nbsp;&nbsp;
                <a th:href="@{/toRegisterPage}" class="register">Register Now!</a>
            </form>
        </div>

        <div class="topbar-right" th:unless="${session.loginUser==null}">
            <!--After login-->
            <span>Welcome <b th:text="${session.loginUser.getUname()}">xxx</b></span>
            <a th:href="@{/logout}" class="register">Logout</a>
            <a th:href="@{/toCartPage}" class="cart iconfont icon-gouwuche">
                My Cart
                <div class="cart-num" th:text="${session.cartQuantity}">0</div>
            </a>
            <a th:href="@{/getOrderList}" class="cart">My Order</a>
        </div>

    </div>
</div>

    <div th:fragment="header_nav" class="header-nav">
        <ul>
        </ul>
    </div>

    <div id="header" th:fragment="head" >
        <a th:href="@{/index}">
            <img class="logo_img" alt="" src="/images/logo.png" />
        </a>
        <div class="header-right">
            <span>Dear<span class="um_span" th:text="${session.loginUser.getUname()}">xxx</span>Welcome to Sepura Home</span>
            <a th:href="@{/getOrderList}">My Order &nbsp;</a>
            <a th:href="@{/logout}">Logout</a>&nbsp;&nbsp;
            <a th:href="@{/index}">Main Page</a>
        </div>
    </div>

    <div th:fragment="header_right" class="header-right">
        <h3>Dear<span th:text="${session.loginUser.uname}">xx</span>, welcome to Sepura Home</h3>
        <div class="destory"><a th:href="@{/logout}">Logout</a></div>
        <div class="gohome">
            <a th:href="@{/index}">Main Page</a>
        </div>
    </div>




</body>
</html>